<% layout('layouts/boilerplate.ejs') %>

<div class="container d-flex justify-content-center align-items-center mt-5">
  <div class="row">
    <div class="">
      <div class="card shadow">
        <div class="card-body">
          <h3 class="card-title text-center mb-6">Login</h3>
          <form class="needs-validation" action="/login" method="post" novalidate>
            <div class="mb-3">
              <label for="username" class="form-label">Username:</label>
              <input type="text" class="form-control" id="username" name="username" autofocus required />
              <div class="valid-feedback">OK!</div>
            </div>

            <div class="mb-3">
              <label for="password" class="form-label">Password:</label>
              <input type="password" class="form-control" id="password" name="password" required />
              <div class="valid-feedback">OK!</div>
            </div>

            <button type="submit" class="btn btn-success w-100">Login</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/js/validateForms.js"></script>
