<% layout('layouts/boilerplate.ejs') %>
<h1>Register</h1>
<form class="needs-validation" action="/register" method="post" novalidate>
  <div class="mb-3">
    <label for="username" class="form-label">Username:</label>
    <input
      type="text"
      class="form-control"
      id="username"
      name="username"
      required
    />
    <div class="valid-feedback">OK!</div>
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">Email:</label>
    <input type="email" class="form-control" id="email" name="email" required />
    <div class="valid-feedback">OK!</div>
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password:</label>
    <input
      type="password"
      class="form-control"
      id="password"
      name="password"
      required
    />
    <div class="valid-feedback">OK!</div>
  </div>
  <button type="submit" class="btn btn-success">Register</button>
</form>
<script src="/js/validateForms.js"></script>
